$firtsColor: black;
$secundaryColor: rgb(201, 201, 201);
$thirdColor: rgb(255, 213, 0);
$fourthColor: rgb(131, 55, 21);
$fontColor: rgb(255, 243, 200);

$h1Color: rgb(255, 149, 0);
$h2Color: rgb(255, 190, 0);
$h3Color: rgb(255, 228, 0);
$h4Color: rgb(255, 255, 0);